# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# Pytest cache
.pytest_cache/

# IDE / Editor specific files
.idea/
.vscode/

# dotenv environment variables file
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Mac-specific files
.DS_Store